---
import BlogPreview from "@/components/BlogPreview.astro";
import Title from "@/components/Title.astro";
import Layout from "@/layouts/Layout.astro";
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";

type Post = CollectionEntry<"post">;
const allPosts = await getCollection("post");
---

<Layout title="Welcome to my blog">
  <Title
    title="My Programing"
    title2="Blog"
    subtitle="Awesome blog with Astro"
  />
  <div class="grid gap-4 my-5">
    {allPosts.map((post: Post) => <BlogPreview post={post} />)}
  </div>
</Layout>
