<nav class="flex [&>*]:px-8 [&>*]:py-3 bg-amber-400">
  <a href="/" class="hover:bg-slate-300">Home</a>
  <a href="/posts/javascript" class="hover:bg-slate-300">JavaScript</a>
  <a href="/posts/html" class="hover:bg-slate-300">HTML</a>
  <a href="/posts/css" class="hover:bg-slate-300">CSS</a>
</nav>
